body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #eee;
	background-image: url(/static/img/site/bg.png);
	color: #363636;
}

a {
	color: #7f7f7f;
	text-decoration: none;
}

a:hover {
	color: #363636;
	padding-bottom: 6px;
	border-bottom: 4px solid #363636;
}

h1 {
	margin: 20px 0 15px;
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 5em;
	font-weight: 400;
}

h2 {
	margin-bottom: 40px;
	padding-left: 14px;
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 400;
	border-left: 8px solid #363636;
}

header {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	float: left;
}

nav li {
	margin: 0 20px 10px 10px;
}

#container {
	margin: 0 auto;
	padding: 0 40px;
	max-width: 1000px;
}

#gallery {
	padding: 10px 0;
	overflow: auto;
	border-bottom: 1px solid #d8d8d8;
}

#gallery li {
	margin: 10px 10px 5px;
}

#gallery li:hover {
	position: relative;
	bottom: 2px;
}

#gallery li:active {
	position: relative;
	top: 4px;
}

#foreword {
	padding: 40px 0;
}

#footcontain {
	background-color: #363636;	
	background-image: url(/static/img/site/footerbg.png);
	-webkit-box-shadow: inset 0 10px 30px #161616;
	-moz-box-shadow: 	inset 0 10px 30px #161616;
	box-shadow: 		inset 0 10px 30px #161616;
	border-top: 1px dashed #eee;
}

#info {
	margin: 0 auto;
	padding: 40px 40px 80px;
	max-width: 1000px;
	color: #eee;
	text-shadow: 0px 2px 0px #000;
}

#info h2 {
	border-color: #eee;
}

iframe {
	margin-bottom: 20px;
	width: 100%;
	height: 350px;
	overflow: hidden;
	border: 0;
}
