body {
	margin: 0;
	padding: 0;
	font: 1em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url('../img/site/ribbon.png') no-repeat fixed top left,
				#eee url('../img/site/bg.png') repeat;
	color: #363636;
}

::selection {
	background: #363636;
	color: #eee;
}

::-moz-selection {
	background: #363636;
	color: #eee;
}

a {
	color: #e15757;
	text-decoration: none;
}

a:hover {
	color: #c73131;
}

a img {
	border: none;
}

h1 {
	margin: 20px 0 0;
	font: 400 5em "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	margin-bottom: 40px;
	padding-left: 14px;
	font: 400 1.8em "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-left: 8px solid #363636;
}

header h2 {
	margin-top: 0;
	border-color: #e15757;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	float: left;
}

nav {
	padding: 10px;
	overflow: hidden;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

nav a {
	color: #7f7f7f;
}

nav a:hover {
	padding-bottom: 6px;
	color: #363636;
	border-bottom: 4px solid #363636;
}

nav li {
	margin-right: 20px;
}

#container {
	margin: 0 auto;
	padding: 0 40px;
	max-width: 1000px;
}

#gallery {
	padding: 10px 0;
	overflow: auto;
	border-bottom: 1px solid #d8d8d8;
}

#gallery li {
	margin: 10px 10px 5px;
}

#gallery li:hover {
	position: relative;
	bottom: 2px;
}

#gallery li:active {
	position: relative;
	top: 2px;
}

#foreword {
	padding: 40px 0;
}

#footcontain {
	background: url('/static/img/site/footribbon.png') no-repeat fixed top left,
				#363636 url('/static/img/site/footerbg.png') repeat fixed;
	
/*	-webkit-box-shadow: inset 0 10px 30px #262626;
	-moz-box-shadow: 	inset 0 10px 30px #262626;
	box-shadow: 		inset 0 10px 30px #262626; */
}

#info {
	margin: 0 auto;
	padding: 40px 40px 80px;
	max-width: 1000px;
	color: #eee;
	text-shadow: 0px 2px 0px #000;
}

#info h2 {
	border-color: #eee;
}

iframe {
	margin-bottom: 20px;
	width: 100%;
	height: 400px;
	border: 0;
}

/* ---------- Fonts ---------- */

@font-face {
    font-family: 'PT Sans';
    src: url('../font/pt_sans-web-bold-webfont.eot');
    src: url('../font/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../font/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('../font/pt_sans-web-regular-webfont.eot');
    src: url('../font/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../font/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans-bold-webfont.eot');
    src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold-webfont.woff') format('woff'),
         url('../font/opensans-bold-webfont.ttf') format('truetype'),
         url('../font/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans-italic-webfont.eot');
    src: url('../font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-italic-webfont.woff') format('woff'),
         url('../font/opensans-italic-webfont.ttf') format('truetype'),
         url('../font/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}